<nb-card class="col-md-6 col-lg-6 offset-lg-3">
  <nb-card-header>Set base data
  </nb-card-header>
  <nb-card-body>
    <div style="text-align: center; margin-top:40px;" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form class="auth-form" #baseDataForm="ngForm" (ngSubmit)="onSubmit(baseDataForm)" *ngIf="!isLoading">
      <label for="datepickerInput" class="label">Date of first snapshot</label>
      <div id="datepickerInput" class="form-group m-0 p-0">
        <input class="text-center " name="inputDateOfFirstSnapshot"  fullWidth required ngModel nbInput
          [nbDatepicker]="formpicker" autocomplete="off" [(ngModel)]="dateFromDto" (ngModelChange)="validateOfChange(baseDataForm)"
          ng-model-options="{timezone: 'local'}">
        <nb-datepicker #formpicker [min]="min" [max]="max"></nb-datepicker>
      </div>
      <div class="form-group pt-2 ">
        <label for="periodicityId" class="label">Periodicity of snapshots in days</label>
        <nb-select class="m-0 p-0 text-center" name="inputPeriodicity" id="resourceOptionInput" (ngModelChange)="validateOfChange(baseDataForm)" fullWidth ngModel selected={{this.baseDataDto.periodicityOfSnapshotsInDays}} >
          <nb-option value="7">Weekly</nb-option>
          <nb-option value="14">Biweekly</nb-option>
          <nb-option value="30">Monthly</nb-option>
          <nb-option value="90">Quarterly</nb-option>
          <nb-option value="365">Yearly</nb-option>
        </nb-select>
        <!-- <input type="number" ngModel id="periodicityId" name="inputPeriodicity" nbInput required min="7" fullWidth [(ngModel)]="baseDataDto.periodicityOfSnapshotsInDays"  > -->
      </div>
      <p *ngIf="updateAllowed" class="pt-2" style="font-size: 16px; color: red;">
        <nb-icon class="" style="color: orange;" nbPrefix
        icon="alert-circle-outline" pack="eva"></nb-icon>
        Updating of base data will erase all current snapshots!
      </p>
      <div class="btn-container">
        <button type="submit" nbButton status="danger" [disabled]="!updateAllowed">Update base data</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>