th{
    font-weight: 800;
}
tr, th, td{
    border: 1px black solid;
    padding: 15px;
}

.options-icon{
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.options-icon:hover{
    color: red;
}

nb-tab{
    min-height: 400px;
}

:host ::ng-deep .echart {
    height: 100%;
    min-height: 600px;
    width: 100%;
  }