@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.step-content{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.select-button{
  margin:0px !important;
  text-align: center !important;
}

nb-option{
  justify-content: center !important;
}
