<div class="col-md-12 col-lg-12">
    <nb-card>
        <div style="text-align: center; margin-top:40px;" *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <nb-tabset *ngIf="!isLoading">
            <nb-card-header>Resource</nb-card-header>
            <nb-tab tabTitle="List of resource groups" class="p-0 p-md-4">
                <table mat-table class="col col-12">
                    <thead class="col col-12">
                        <tr class="col col-12">
                            <th class="col col-4">Name</th>
                            <th class="col col-6">Resources</th>
                            <th class="col col-2">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-text-left">
                        <tr *ngFor="let resourceGroup of resouceGroupsList">
                            <td>{{resourceGroup.resourceGroupName}}</td>
                            <td><li *ngFor="let resource of resourceGroup.resources">
                                {{resource.name}}
                            </li></td>
                            <td>
                                <!-- <a class="options-icon" href="">
                                    <fa-icon [icon]="faPencil" (click)="editClick(resourceGroup.resourceGroupId)"></fa-icon>
                                </a> -->
                                <a class="options-icon">
                                    <fa-icon [icon]="faTrashCan" (click)="deleteClick(resourceGroup.resourceGroupId)"></fa-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-tab>
      
        </nb-tabset>
    </nb-card>
</div>