<nb-card>
    <nb-card-header><h3>Release news</h3></nb-card-header>
    <nb-card-body>
        <h5 style="border-bottom: solid 1px white ;">Version 1.0.0.  We are live! (07.11.2022)</h5>
        <br>
        <p>This is very first release which was deployed for live servers. This version contains following use cases:</p>
        <ul>
          <li>Register/Login</li>
          <li>Management of main sources (resources, snapshots, resouce groups,..)</li>
          <li>Overview current state of specific entity via graph.</li>
          <li>Aggregate snapshot - ability to create snapshots for every defined resource in single formulary</li>
          <li>Dashboard - posibility to create custom dashboard based on resource/resource group</li>
          <li>Charts - currently line chart and bar chart is available</li>
        </ul>  
        <p>Known issues:</p>
        <ul>
          <li>FE do not reflect expiration of token - FE shows user as logged in but do not provide any data</li>
          <li>Snapshots needs to be created in same range for each resource - inconsistency may lead into crashes</li>
        </ul>  
    </nb-card-body>
  </nb-card>
