th{
    font-weight: 800;
}
tr, th, td{
    border: 1px black solid;
    padding: 15px;
}

.options-icon{
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.options-icon:hover{
    color: red;
}

nb-tab{
    margin-bottom: 20px;
    height: 100%;
    max-height: 650px;
}