<nb-card>
  <nb-card-body style="text-align: justify;" class="">

    <!-- <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="offset-md-2 col-md-8 ps-md-4">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">How to use Finboard?</h4>
        <div class="offset-md-3">
          <ul class="pt-md-3 me-md-5 ms-md-5 ps-0">
            <a href=""></a>
            <a href="" class="content-link">
              <li><b>1) Registration</b></li>
            </a>
            <a href="" class="content-link">
              <li><b>2) Initial setup:</b></li>
            </a>
            <ul>
              <a href="" class="content-link">
                <li>a. Setting base data</li>
              </a>
              <a href="" class="content-link">
                <li>b. Define resources</li>
              </a>
              <a href="" class="content-link">
                <li>c. Create resource groups</li>
              </a>
              <a href="" class="content-link">
                <li>d. Fill data - snapshots</li>
              </a>
            </ul>
            <a href="" class="content-link">
              <li><b>3) Customize your dashboard</b></li>
            </a>
            <a href="" class="content-link">
              <li><b>4) Keep your finboard updated</b></li>
            </a>
          </ul>
        </div>
      </div>
    </div> -->

    <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="col col-md-6 ">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">1) Registration</h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Registration</u> is quite straightforward. Just fill your name which will be displayed as your user name,
          email and password
        </p>
      </div>
      <img class="col-md-6 order-md-1" src="../../../assets/images/registration.gif" alt="">
    </div>

    <div class="row col-12 pb-4 m-0 mt-md-4 order-md-2 ">
      <div class="col col-md-6 ">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">2) Initial setup - Setting base data </h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Base data</u> represent settings which are strongly binded to your account
        </p>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <b>Date of first snapshot</b> - date of first evidence of your portfolio. If you have no your own personal
          history just leve it pre-defined with date of registration.
        </p>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <b>Periodicity of snapshots</b> - Define how often you have been doing your evidence or how often you will
          have to do it.
        </p>
      </div>
      <img class="col  col-md-6" src="../../../assets/images/base-data.gif" alt="">
    </div>

    <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="col col-md-6">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">2) Initial setup - Define resources</h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Define resources</u> Create your own resources which you have been tracking or you want to track in future
        </p>
      </div>
      <img class="col-md-6 order-md-1" src="../../../assets/images/resources.gif" alt="">
    </div>


    <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="col col-md-6">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">2) Initial setup - Create resource groups
        </h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Create resource groups</u> Allowes you to group your resources.
        </p>
        <ul class="paragraph-describe pt-md-3 me-md-5 ms-md-4">
          Example: You want to create Overal property group which will include all your resources:
          <li class="ms-4 pt-2">
            Fill the name of resource group into "Create resource group" tab and hit "Add resource group."
          </li>
          <li class="ms-4 pt-2">
            Select specific group from dropdown in "Add resource to group" tab
          </li>
          <li class="ms-4 pt-2">
            Check specific resources (in this case all of them) which u want to add into group and hit "Add to group" button.
          </li>
        </ul>
      <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
        Current status of your groups should be visible under "List of your resource groups" tab.
      </p>

      </div>
      <img class="col-md-6 order-md-1" src="../../../assets/images/groups.gif" alt="">
    </div>

    <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="col col-md-6">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">2) Initial setup - Fill data (snapshots)
        </h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Fill data (snapshots)</u> Allowes you to fill historical data of your resources and consists of two parts
        </p>
        <ul class="paragraph-describe pt-md-3 me-md-5 ms-md-4">
          <li class="ms-4 pt-2">
            Data checker - generated snapshot list based on your base data from step 1. with information about status of snapshot. 
          </li>
          <li class="ms-4 pt-2">
            Create aggregated snapshot - furmulary which will create snapshot for specific date. U can also edit your walues with click on specific date in Date chcecker
          </li>
        </ul>
      <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
        After filling all data Data checker should be marked as correct with green checkmark and button "To Dashboard" should be enabled.
      </p>

      </div>
      <img class="col-md-6 order-md-1" src="../../../assets/images/snapshots.gif" alt="">
    </div>

    <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="col col-md-6">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">3) Customize your dashboard
        </h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Customize your dashboard</u> Allowes you to create different types of graph overviews. There are three types of graphs:
        </p>
        <ul class="paragraph-describe pt-md-3 me-md-5 ms-md-4">
          <li class="ms-4 pt-2">
            Resource / Line chart - will generate line chart of single resource. 
          </li>
          <li class="ms-4 pt-2">
            Resource group / Line chart - will generate line chart of resource groups where amount is cummulative value of specific resources. 
          </li>
        </ul>

      </div>
      <img class="col-md-6 order-md-1" src="../../../assets/images/dashboard.gif" alt="">
    </div>

    <div class="row col-12 pb-4 m-0 mt-md-4">
      <div class="col col-md-6">
        <h4 class="paragraph-header pt-3 pt-md-5 me-md-5 ms-md-5 text-center">4) Keep your finboard updated
        </h4>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          <u>Updating finboard</u> Based on your periodicity you will need to update your data for this u can use "Add snapshot" page
        </p>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          In case new snapshot should be created system automaticaly indicate that your datas are not valid anymore and some of them are missing. Find the missing snapshot date and fill it. 
        </p>
        <p class="paragraph-describe pt-md-3 me-md-5 ms-md-5">
          After adding new snapshot all graphs will be updated automatically
        </p>
      </div>
      <img class="col-md-6 order-md-1" src="../../../assets/images/finboard02.png" alt="">
    </div>

  </nb-card-body>
</nb-card>