<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" routerLink="/account" (click)="navigateHome()">Fin<span>Board</span></a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
  </nb-actions>
  <div class="row auth-actions">
    <p class="col-6 user-name">Hi {{userName}}! </p>
    <button *ngIf="isAuthenticated" class="col-6 login-logout-btn" (click)="logout()" nbButton status="danger" >Logout</button>
    <button *ngIf="!isAuthenticated"class="col-6 login-logout-btn" (click)="login()" nbButton status="danger" >Login</button>
  </div>
</div>