<div class="row">

    <nb-card class="col-12 col-md-6 dashboard-window">
        <nb-card-body class="dashboard-body">
            <p>+</p>
            <p>Add view</p>
        </nb-card-body>
    </nb-card>



    <nb-card class="col-12 col-md-6 dashboard-window">
        <nb-card-body class="dashboard-body">
            <p>+</p>
            <p>Add view</p>
        </nb-card-body>
    </nb-card>

</div>
<div class="row">

    <nb-card class="col-12 col-md-6 dashboard-window">
        <nb-card-body class="dashboard-body">
            <p>+</p>
            <p>Add view</p>
        </nb-card-body>
    </nb-card>


    <nb-card class="col-12 col-md-6 dashboard-window">
        <nb-card-body class="dashboard-body">
            <p>+</p>
            <p>Add view</p>
        </nb-card-body>
    </nb-card>

</div>