<nb-card class="col-md-12 col-lg-12 col-xxxl-12 p-md-4" >
    <nb-card-body>
      <nb-stepper orientation="horizontal" class="p-xs-0" disableStepNavigation>
        <nb-step [label]="labelOne">
          <ng-template #labelOne>Create resources</ng-template>
          <app-resource-template></app-resource-template>
          <button nbButton disabled nbStepperNext>prev</button>
          <button nbButton nbStepperNext (click)="refreshTemplates()">next</button>
        </nb-step>
        <nb-step [label]="labelTwo">
          <ng-template #labelTwo>Group them!</ng-template>
          <app-resource-group-template></app-resource-group-template>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext (click)="refreshTemplates()">next</button>
        </nb-step>
        <nb-step [label]="labelThree">
          <ng-template #labelThree>Fill snapshots</ng-template>
          <app-snapshot-agregate></app-snapshot-agregate>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton (click)="navigateToDashboardPage()">Finish</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>