
.dashboard-header{
    border-bottom: none;
    text-align: center;
}

.close-btn{
    cursor: pointer;
    float:right !important;


}

.close-btn:hover{
    float:right !important;
    font-size: 20px;
    color: white;
}