<nb-card class="col-12 col-md-12 dashboard-window chart-window">
    <nb-card-header class="dashboard-header">
        <b>{{chartInfo.chartName}}</b>
        <a class="options-icon">
            <fa-icon [icon]="faTrashCan" (click)="deleteChart()"></fa-icon>
        </a>
    </nb-card-header>
    <nb-card-body class="dashboard-body">
        <div style="text-align: center; margin-top:40px;" *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoading && chartInfo.chartType === chartTypePie">
            <ngx-echarts-pie [chartData]="pieChartData"></ngx-echarts-pie>
        </div>
        <div *ngIf="!isLoading && chartInfo.chartType === chartTypeLine">
            <ngx-echarts-line [chartData]="lineChartData"></ngx-echarts-line>
        </div>
    </nb-card-body>
</nb-card>